<nav class="navbar navbar-expand-lg mb-0 p-0 m-0" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid m-0">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "shopify.svg", alt: "Shopify Logo", class: "navbar-brand-logo me-2", size: "25x50" %>
      <h1 class="h4 mb-0">Shopify</h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link active fs-6" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cart", carts_path, class: "nav-link active fs-6" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-6" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><%= link_to "Electronics", products_path(category_id: 1), class: "dropdown-item" %></li>
            <li><%= link_to "Fashion", products_path(category_id: 2), class: "dropdown-item" %></li>
            <li><%= link_to "Mobile", products_path(category_id: 3), class: "dropdown-item" %></li>
            <li><%= link_to "Furniture", products_path(category_id: 4), class: "dropdown-item" %></li>
            <li><%= link_to "Beauty", products_path(category_id: 5), class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "All Products", products_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item me-3">
            <span class="fw-bold" style="font-size: 1.15rem;">Welcome, <%= current_user.username %></span>
          </li>
          <li class="nav-item fs-6">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link btn btn-link py-2 border-0", style: "text-decoration: none;" %>
          </li>
        <% else %>
          <li class="nav-item fs-6">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item fs-6">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
