<div id="sidebar" class="d-flex flex-column text-white bg-dark mb-0 p-0 m-0 " style="width:270px; height:100%;">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center ps-5 pt-2" do %>
      <%= image_tag "shopify.svg", alt: "Shopify Logo", class: "navbar-brand-logo me-2", size: "25x50" %>
      <h1 class="h4 mb-0">Shopify</h1>
    <% end %>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link #{'active' if current_page?(root_path)} text-white", aria: { current: ("page" if current_page?(root_path)) } do %>
        <svg class="bi me-2" width="16" height="36"><use xlink:href="#home"></use></svg>
        <span style="font-weight: bold; font-size: 1.15rem;">Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to orders_path, class: "nav-link #{'active' if current_page?(orders_path)} text-white" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        <span style="font-weight: bold; font-size: 1.15rem;">Orders</span>
      <% end %>
    </li>
    <li>
      <%= link_to products_path, class: "nav-link text-white" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        <span style="font-weight: bold; font-size: 1.15rem;">Products</span>
      <% end %>
    </li>
    <li>
      <%= link_to wishlists_path, class: "nav-link text-white" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        <span style="font-weight: bold; font-size: 1.15rem;">Wishlists</span>
      <% end %>
    </li>
  </ul>
  
  <hr>
  
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag "profile.jpeg", alt: "User Profile", width: 32, height: 32, class: "rounded-circle me-2" %>
      <strong><%= @user&.username || "Guest" %></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
      <li><%= link_to "Profile", "#", class: "dropdown-item" %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "Sign out", "#", class: "dropdown-item" %></li>
    </ul>
  </div>
</div>
